<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>player_url_prod</key>
	<string>player.sambatech.com.br/v3/</string>
	<key>cast_namespace_prod</key>
	<string>urn:x-cast:com.sambatech.player</string>
	<key>cast_application_id_prod</key>
	<string>E9CFA23D</string>
	<key>playerapi_endpoint_prod</key>
	<string>https://fast.player.liquidplatform.com/pApiv2/v1/</string>
	<key>playerapi_endpoint_staging</key>
	<string>https://staging-player-api.sambavideos.sambatech.com/v3/v1/</string>
	<key>playerapi_endpoint_test</key>
	<string>http://web1.qa.sambatech.com:13000/v1/</string>
	<key>playerapi_endpoint_local</key>
	<string>http://192.168.0.127:8080/player-api/v1/</string>
</dict>
</plist>
