<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>svapi_endpoint</key>
	<string>http://52.2.166.124:8091/v1/</string>
	<key>svapi_token</key>
	<string>08008acb-c9b8-4452-af78-2d36d83db640</string>
	<key>myjson_endpoint</key>
	<string>https://api.myjson.com/bins/</string>
	<key>pid_4421</key>
	<string>bc6a17435f3f389f37a514c171039b75</string>
	<key>pid_533</key>
	<string>986e07f70986265468eae1377424d171</string>
	<key>pid_4460</key>
	<string>36098808ae444ca5de4acf231949e312</string>
</dict>
</plist>
